@media (max-width: 69em) {
  .html {
    font-size: 60%;
  }

  .hero {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .container {
    text-align: center;
  }

  .img-about {
    margin: 0 auto;
  }

  .img-grid-4 {
    column-gap: 1rem;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 55%;
  }

  .hero-img,
  .img-about {
    height: 40rem;
    width: 40rem;
  }

  .h2-hero {
    font-size: 5.2rem;
  }

  .img-grid-4 {
    grid-template-columns: 1fr;
  }

  .img-sponser {
    width: 46rem;
    height: 40rem;
  }
}
